body {
    background: linear-gradient(to bottom right, #9b59b6, #1abc9c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.memory-card {
    width: 100px;
    height: 100px;
    background-color: #9b59b6;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px; /* Increased font size */
    cursor: pointer;
    perspective: 1000px;
    position: relative;
    font-family: 'Bold Price'; /* Changed font to bold price font */
    font-weight: bold; /* Ensure font is bold */
}

.memory-card.matched {
    background-color: #2d547b99;
}

.inner-card {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: absolute;
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(0deg);
}

.back-face {
    transform: rotateY(180deg);
}
